<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://i.stack.imgur.com/luaq2.png"
      alt="Imagem de espaço reservado"
      height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <a href="#">
      <p>Lorem ipsum erat libero molestie pulvinar eu sociosqu placerat iaculis, quisque metus vivamus habitasse class hac platea nam et, ullamcorper gravida commodo et habitant elementum orci suscipit. hac turpis consectetur donec sodales dictumst et erat inceptos orci enim erat conubia mollis, egestas ac vivamus rhoncus malesuada arcu dictum luctus suspendisse congue ultrices congue magna, duis massa magna hac ullamcorper ac urna tincidunt at pharetra porta feugiat.</p>
    </a>
  </div>
</div>
